{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'style/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'style/reserv.css' %}" rel="stylesheet">
    <link href="{% static 'style/main.css' %}" rel="stylesheet">
    <script src="{% static 'script/script.js' %}"></script>
    <script src="{% static 'script/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="">
</head>

<body class="d-flex justify-content-center animated-block">
    <header class="head-point">
        <menu class="mymenu d-flex justify-content-around justify-content-center align-items-center">
            <div class="buttons-container">
                <button onclick="window.location.href='{% url 'create_order' %}';" class="button-arounder">Створити
                    замовлення</button>
            </div>
            <div class="buttons-container">
                <button onclick="window.location.href='{% url 'logout' %}';" class="button-arounder">Вийти</button>
            </div>
            <div class="buttons-container">
                <button onclick="window.location.href='{% url 'register' %}';"
                    class="button-arounder">Реєстрація</button>
            </div>
        </menu>
        <div class="products-block d-flex align-content-around flex-wrap">
            
        
            {% if orders %}
                <p>Мої Замовлення</p>
                {% for order in orders %}
                    <div class="card perfer-card m-2" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'images/product.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">{{ order.product.name }}</p>
                            <p class="card-text">- Кількість: {{ order.quantity }} </p>
                            <p class="card-text">Про товар:{{ order.product.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>У вас немає замовлень.</p>
            {% endif %}
        </div>

    </header>
    {% if messages %}
    <script type="text/javascript">
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
    </script>
{% endif %}
</body>

</html>