{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style/main.css' %}" rel="stylesheet">
    <link href="{% static 'style/registration.css' %}" rel="stylesheet">
    <script src="{% static 'script/script.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper animated-block">
        <h2>Реєстрація</h2>
        <form method="post">
            {% csrf_token %}
            <div class="input-box">
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
                {% if form.first_name.errors %}
                    <div class="error">{{ form.first_name.errors }}</div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
                {% if form.last_name.errors %}
                    <div class="error">{{ form.last_name.errors }}</div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.password.label_tag }}
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="error">{{ form.password.errors }}</div>
                {% endif %}
            </div>
            <div class="input-box">
                {{ form.confirm_password.label_tag }}
                {{ form.confirm_password }}
                {% if form.confirm_password.errors %}
                    <div class="error">{{ form.confirm_password.errors }}</div>
                {% endif %}
            </div>
            <div class="input-box button">
                <input type="submit" value="Зареєструватися">
            </div>
            <div class="text">
                <h3>Вже зареєстровані? <a href="{% url 'login' %}">Увійти</a></h3>
            </div>
        </form>
    </div>
</body>
</html>